html {
  height: 100%;
}
body {
  height: 100%;
  /* background-image: linear-gradient(to bottom right, #00BBFF, rgba(144, 181, 248, 0.911)); */
}
.fontStyle{
  font-size: 55px;
  width: 200px;
  font-weight: bold;
  display: inline-block;
  position:absolute;
  top: 20px;
  margin-left: 20px;
  font-family: Fantasy;
  background-image:-webkit-linear-gradient(bottom,red,#fd8403,yellow); 
  -webkit-background-clip:text; 
  font-style: oblique;
  -webkit-text-fill-color:transparent; 

}
.easy-container {
  position: relative;
  /* justify-content: space-around; */
}
.top {
  width: 500px;
  height: 150px;
}
